@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

////////////////////////////////////
/// Landing Page
///////////////////////////////////
@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.landing-bg {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    #landing-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        border: 3px solid rgb(29, 29, 29);
        height: 50%;
        width: 40%;
        justify-content: center;
        h1 {
            font-size: 6rem;
            font-weight: 800;
            margin: 0;
        }
        button {
            font-family: 'Lato';
            font-weight: bold;
            word-spacing: 3px;
            font-size: 1rem;
            border: none;
            background: rgb(94, 0, 246);
            width: 10rem;
            height: 3rem;
            border-radius: 0.5em;
            cursor: pointer;
            color: white;
            margin-top: 1rem;
            transition-duration: 0.3s;
            transition-property: background;
            transform: translateZ(0); /* Hack to improve performance on mobile/tablet devices */
            box-shadow: 
                inset 0 0 0 3px rgb(94, 0, 246),
                0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */
                &:hover {
                    background: none;
                }
            }
            
        
    }
}


////////////////////////////////////
/// ChatPage
///////////////////////////////////

.chatPage {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
    color: white;
    h1 {
        margin: 0;
    }
    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(202, 202, 202);
        p {
            margin-top: 2rem;
            animation: blinker 2s linear infinite;
            animation-fill-mode: forwards;
        }
        @keyframes blinker {
            from { opacity: 1.0; }
            50% { opacity: 0.5; }
            to { opacity: 1.0; }
        }
    }
    .loaded-page {
        height: 95%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        .temp-text {
            margin: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
    .chat-container {
        height: 90%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
        align-items: center;
        .chat-area {    
            margin-top: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            .chat-message {
                width: 50%;
                padding: 1rem;
                margin-bottom: 1rem;
                border-radius: 1rem;;
                p {
                    white-space: pre-wrap;
                }
            }
            #user {
                background-color: #1a1a1a;
            }
            #gpt {
                background-color:rgb(94, 0, 246);
            }
        }

    }
    
    .loaded-page-queried {
        height: 95%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        .gen-text {
            width: 40%;
            display: flex;
            margin-right: 2rem;
            flex-direction: column;
            align-items: center;
        }
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(94, 0, 246);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}